<Files ~ "^\.(htaccess|htpasswd)$">
  deny from all
</Files>

Options -Indexes
order deny,allow

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule (.*) index.php?query=$1&%{QUERY_STRING}
</IfModule>

Options -MultiViews
